<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador de Dictamen</title>
    <style>
        /* Agrega estilos CSS según tu diseño específico */
        * {
            margin: 5px;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        table.dictamen {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }
        
        table.dictamen th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        
        table.dictamen th {
            background-color: #f2f2f2;
        }
    
        /* Estilos para la tabla "firmas" */
        table.firmas {
            border-collapse: collapse;
            width: 100%;
            margin: 20px auto; /* Centrado horizontal */
        }
    
        table.firmas td {
            border: none; /* Elimina los bordes de las celdas */
            padding: 10px;
            text-align: center; /* Centrado del contenido */
        }
    </style>
</head>
<body>
    <div id="generarPDF" class="center">
        <h1 style="text-align: center;">Dictamen Técnico DT24-<%= dictamenes[0].idDictamen %></h1>
        <p style="text-align: right;"><%= fecha %></p>
        <h3>MAC. Francisco Javier Barrera Lao</h3>
        <h3>Director Académico de la Facultad de Ingeniería</h3>
        <p>Presente</p>
        <table class="dictamen">
                <tr>
                    <th>Equipo</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Características</th>
                    <th>N° de Serie</th>
                    <th>Estado</th>
                    <th>Dictamen</th>
                    <th>Observaciones</th>
                    <th>Descripción técnica de las partes necesarias</th>
                </tr>
                <% dictamenes.forEach(dictamen => { %>
                    <tr>
                        <td><%= dictamen.Equipo %></td>
                        <td><%= dictamen.MarcaEquipo %></td>
                        <td><%= dictamen.ModeloEquipo %></td>
                        <td><%= dictamen.caracDictamen %></td>
                        <td><%= dictamen.NoSerieEquipo %></td>
                        <td><%= dictamen.EstadoDictamen %></td>
                        <td><%= dictamen.DictamenFinal %></td>
                        <td><%= dictamen.Observaciones %></td>
                        <td><%= dictamen.Descripcion %></td>
                        <!-- Agrega otras celdas según tus campos -->
                    </tr>
                <% }); %>
        </table>
        <table class="dictamen">
            <thead>
                <tr>
                    <th>Estado</th>
                    <th>Dictamen</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <strong>VIGENTE: </strong>si al equipo le sirven todas sus piezas, o si alguna pieza esta dañada y es reemplazable.
                        <br>
                        <strong>OBSOLETO: </strong> si no cumple con características mínimas definidas por DGTI.
                    </td>
                    <td>
                        <strong>FUNCIONAL: </strong>si el equipo le sirven todas sus piezas, o si alguna pieza está dañada y es reempalazable.
                        <br>
                        <strong>NO FUNCIONAL: </strong> si el accesorio o equipo después de las revisiones y pruebas técnicas NO FUNCIONA y no tiene reparación.
                        <br>
                        <strong>TRAMITAR BAJA: </strong> si alguna pieza falta o está dañada y no es reemplazable, pero además el ESTADO es OBSOLETO, entonces debe tramitarse la baja.
                    </td>
                </tr>
            </tbody>
        </table>
        <p>Si el dictamen de alguno de los equipos revisados es TRAMITAR BAJA, éste se quedará en el CIC para que, con base en el procedimiento interno de inventarios de ésta facultad y de estar conforme se proceda a tramitar la baja correspondente ante la Coordinación Administrativa FdI.</p>
        <br>
        <table class="firmas">
            <tr>
                <td>Revisión Técnica</td>
                <td>Vo. Bo.</td>
                <td>Recibí de conformidad</td>
            </tr>
            <br>
            <tr>
                <td>__________________</td>
                <td>__________________</td>
                <td>__________________</td>
            </tr>
            
            <tr>
                <td> </td>
                <td>Mtro. Adrían E. Pacheco Zapata</td>
                <td>MAC. Francisco Javier Barrera Lao</td>
            </tr>
        </table>
    </div>
</body>
</html>