<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vale de entrada</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 0; padding: 0; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; }
        .container { width: 90%; max-width: 700px; text-align: left; padding: 20px; box-sizing: border-box; }
        .header-section { text-align: left; }
        table{
            margin: 0 auto; border-collapse: collapse; width: 90%;
        }
        tr{border: 1px solid black;}
        td{text-align: center; padding: 1px;}
    </style>
</head>
<body>
    <!-- Contenedor principal -->
    <div class="container">
        <!-- Descripción -->
        <div class="header-section">
            <table>
            <!-- Título -->
                <tr>
                    <td>
                        <h3>Vale Entrada/Salida ALM</h3>
                    </td>
                </tr>
            <!-- Descripción -->
                <tr>
                    <td>
                        <p>Entrada</p>
                    </td>
                </tr>
            <!-- Folio -->
                <tr>
                    <td>
                        <h4>Folio: ST24-<%= folio %></h4>
                        <p><strong>Fecha:</strong> <%= fechaHoraActual %></p>
                    </td>
                </tr>
            <!-- Equipo/Accesorio-->
                <tr>
                    <td>
                        <h4>Equipo/Accesorio:</h4>
                        <!-- Equipo -->
                        <p><%= equipos %></p>
                    </td>
                </tr>
            <!--Datos del equipo-->
                <tr>
                    <td>
                        <h4>Datos del equipo/Accesorio:</h4>
                        <p><strong>No. Serie:</strong> <%= serie %></p>
                        <p><strong>Marca:</strong> <%= marca %></p>
                        <p><strong>Modelo:</strong> <%= modelo %></p>
                        <p><strong>Características:</strong> <%= caracteristicas %></p>
                    </td>
                </tr>
            <!---->
                <tr>
                    <td>
                        <p><strong>Estatus:</strong> <%= estatus %></p>
                        <p><strong>Revisión técnica:</strong> <%= revision %></p>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
