<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="resources/css/style_login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">

</head>
<body>
<p></p>
<div class="contenedor">
    <a href="ruta_de_la_pagina_web_que_deseas"></a>
    <div class="encabezado">
        <a href="https://www.uacam.mx/">
            <img src="resources/images/baner_uacam.jpg" alt="Banner" width="70%">
        </a>
    </div>
    <h2 class="titulosLogin">CIC Assistance</h2>
    
    <h3 class="titulosLogin">Iniciar Sesión</h3>  
    <form action="auth" method="post">
        <input type="text" id="username" name="username" placeholder="Nombre de Usuario" class="camposLogin" required>
        <input type="password" id="password" name="password" placeholder="Contraseña" class="camposLogin" required>
        <button type="submit" value="Submit" id="inicioSesion">Iniciar Sesión</button>
    </form>
    <button type="button" class="btn btn-small" data-bs-toggle="modal" data-bs-target="#exampleModal">Cambiar contraseña</button>
    <p></p>
    <div class="explicacion">
        <p>
            Esta aplicación tiene el propósito de eficientar el trámite de reporte de incidencias y fallas de equipos de TI de la Facultad de Ingeniería. Todos los registros de esta aplicación llegan directamente a la Coordinación del Centro de Ingeniería Computacional, por lo que para su seguimiento deberá contactar a dicho departamento.
        </p>
        <p>
            Telefono: 9818119800 // Extensión: 3030107
        </p>
        <p>
        <a href="acercaDe">Acerca de</a>
        </p>
    </div>

    <div class="enlaces-sociales" >    <p></p>
        <h4 class="titulosLogin">Redes sociales UACAM</h4>
        <a href="https://www.facebook.com/UACamOficial/"><img src="resources/images/face_logo.png" alt="Facebook"></a>
        <a href="https://twitter.com/UacamOficial"><img src="resources/images/twitter_logo.jpg" alt="Twitter"></a>
    </div>

   <!-- <div class="panel-privacidad">
        <p>Panel de advertencia de privacidad de usuario.</p>
    </div>  -->
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Desea cambiar su contraseña?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/forgot-password">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Correo registrado:</label>
              <input type="text" class="form-control" id="email" name="email">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Enviar correo</button>
              </div>
          </form>
        </div>
       
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>  <!-- Obtenido de sweetAlert2  -->
<!--Tenemos que llamar la estructura para usar el mensaje AlertSweet en EJS llamando los parametros establecidos en APPJS-->
<% if(typeof alert != "undefined"){ %>
<script>
    Swal.fire({
    title: '<%= alertTitle %>',
    text: '<%= alertMessage %>',
    icon: '<%= alertIcon %>',
    showConfirmButton: <%= showConfirmButton %>,
    timer: <%= timer %>
}).then(() =>{
    window.location ='/<%= ruta %>'    //Hay que especificar la ruta con '/' que indica que nos redirige a la raiz, index
})
</script>
<% } %>

</body>
</html>