<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <!-- Estilos CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="resources/css/style_menu_usuario.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.bootstrap5.css">
</head>
<body>
    <div class="logo-contenedor">
        <img src="resources/images/uac_logo.png" alt="Logo Izquierdo" class="logo-izquierdo">
        <h1 class="titulo-sitio" data-id="solicitud-de-reportes" onclick="mostrarContenido('solicitud-de-reportes')">CIC Assistance</h1>
        <img src="resources/images/facu_logo.png" alt="Logo Derecho" class="logo-derecho">
    </div>

    <!-- Sección de sesión -->
<% if (typeof login !== 'undefined' && login) { %>
    <div class="d-flex flex-row-reverse bd-highlight">
        <div class="btn-group  p-2 bd-highlight justify-content-end">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Usuario: <%= name %>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="logout">Logout</a>
            </div>
        </div>
    </div>
<% } %>

<!-- Menú de opciones -->
<nav class="menu">
    <div class="opcion-menu" data-id="solicitud-de-reportes" onclick="mostrarContenido('solicitud-de-reportes')">Solicitud de Servicio</div>
    <div class="opcion-menu" data-id="historial" onclick="mostrarContenido('historial')">Historial</div>
</nav>

<main class="contenido">
	
    <div id="solicitud-de-reportes" class="contenido-individual">
        <!-- Contenido de la solicitud de reportes -->
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="resources/css/style_solicitudv2.css">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
            <title>Solicitud Soporte Tecnico</title>
        </head>
        <body>
            <div class="solicitud">
                <p id="fechaSolicitud"></p>
                <h2>Solicitud de Servicio Técnico</h2>
                <div id="telefonoError" style="width: 50%;"></div> <!-- Aquí se mostrará el mensaje de error -->
                <form action="solicitud" method="post" onsubmit="return validarFormulario();">
                    <div class="contenedorInicial">
                        <div>
                            <label for="telefono" class="labelMayor required">Teléfono</label>
                            <input class="form-control form-control-sm" type="number" placeholder="Escribe tu telefono" aria-label=".form-control-sm example" name="telefono" id="telefono" required>    
                        </div>
                        <div>
                            <label for="edificio" class="labelMayor required">Edificio y nivel</label>
                            <select name="edificio" id="edificio" class="form-select form-select-sm" required>
                                <% edificios.forEach(edificios => { %>
                                <option value="<%= edificios.IdEdificio %>"><%= edificios.NombreEdificio %>-<%= edificios.Nivel %></option>
                                <% }); %>
                            </select>
                        </div>
                        <div>
                            <label for="area" class="labelMayor required">Ubicación física</label>
                            <input class="form-control form-control-sm" type="text" placeholder="Escribe tu área" aria-label=".form-control-sm example" name="area" id="area" required>   
                        </div>
                    </div>
                    <fieldset>
                        <legend class="labelMayor required">Equipos</legend>
                        <div class="contenedor-checkbox">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="equipos" id="monitor" value="Monitor" onchange="handleCheckboxChange(this)">
                                <label class="form-check-label" for="monitor">Monitor</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="equipos" id="nodo" value="Nodo" onchange="handleCheckboxChange(this)">
                                <label class="form-check-label" for="nodo">Nodo</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="equipos" id="ups" value="UPS" onchange="handleCheckboxChange(this)">
                                <label class="form-check-label" for="ups">UPS</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox"  name="equipos" id="lap" value="Laptop" onchange="handleCheckboxChange(this)">
                                <label class="form-check-label" for="laptop">Laptop</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="equipos" id="proyector" value="Proyector" onchange="handleCheckboxChange(this)">
                                <label class="form-check-label" for="proyector">Proyector</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="equipos" id="point" value="Access Point" onchange="handleCheckboxChange(this)">
                                <label class="form-check-label" for="access">Access Point</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="equipos" id="pc" value="PC" onchange="handleCheckboxChange(this)">
                                <label class="form-check-label" for="pc">PC</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox"  name="equipos" id="gabinete" value="Gabinete" onchange="handleCheckboxChange(this)">
                                <label class="form-check-label" for="gabinete">Gabinete</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox"  name="equipos" id="teclado" value="Teclado" onchange="handleCheckboxChange(this)">
                                <label class="form-check-label" for="teclado">Teclado</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="equipos" id="mouse" value="Mouse" onchange="handleCheckboxChange(this)">
                                <label class="form-check-label" for="mouse">Mouse</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="equipos" id="telefono" value="Teléfono" onchange="handleCheckboxChange(this)">
                                <label class="form-check-label" for="telefono">Teléfono</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="equipos" id="impresora" value="Impresora" onchange="handleCheckboxChange(this)">
                                <label class="form-check-label" for="impresora">Impresora</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox"  name="equipos" id="otro" value="" onchange="handleCheckboxChange(this)">
                                <label class="form-check-label" for="otro">Otro</label>
                                <input class="form-control form-control-sm" type="text"  name="otroInput" id="otroInput" disabled>

                            </div>
                            <div id="otroInputContainer" >
                            </div>
                            <input type="hidden" name="equiposSeleccionados" id="equiposSeleccionados" value="">
                        </div>
                    </fieldset>
        
                    <label for="descripcion" class="labelMayor required">Descripción del problema</label>
                    <textarea class="form-control" name="descripcion" id="descripcion" rows="8" placeholder="Escribe todos los detalles de tu problema" required></textarea>

                    
                    <div class="enviarSoli">
                        <button type="submit" class="btn btn-outline-dark" id="enviar" value="Submit">Enviar</button>
                    </div>
                </form>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
            <script src="resources/scripts/solicitudSoporte.js"></script>
            <script src="resources/scripts/seleccionMultipleUsuario.js"></script>
            <script src="resources/scripts/validarTelefono.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>  <!-- Obtenido de sweetAlert2  -->
            <!--Tenemos que llamar la estructura para usar el mensaje AlertSweet en EJS llamando los parametros establecidos en APPJS-->
            <% if(typeof alert != "undefined"){ %>
            <script>
                Swal.fire({
                    title: '<%= alertTitle %>',
                    text: '<%= alertMessage %>',
                    icon: '<%= alertIcon %>',
                    showConfirmButton: <%= showConfirmButton %>,
                    timer: <%= timer %>
                }).then(() =>{
                    window.location ='/<%= ruta %>'    //Hay que especificar la ruta con '/' que indica que nos redirige a la raiz, index
                })
            </script>
            <% } %>
        </body>
    </div>

    <div id="historial" class="contenido-individual">
        <!-- Contenido de historial -->
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Historial de Solicitudes</title>

          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
           <link rel="stylesheet" href="resources/css/solicitud_historial.css"> 
           <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    // Obtener todas las celdas de la columna Vale
                    var celdasVale = document.querySelectorAll('#historial .table td:nth-child(5)');
                    var celdasDictamen = document.querySelectorAll('#historial .table td:nth-child(7)');
                    
                    // Iterar sobre cada celda de vale
                    celdasVale.forEach(function (celdaVale) {
                        // Verificar el contenido de la celda
                        if (celdaVale.textContent.trim() === 'No Disponible') {
                            // Ocultar la columna siguiente (Descargar Vale)
                            celdaVale.nextElementSibling.textContent = ' ';
                        }
                    });
                    // Iterar sobre cada celda de dictamen
                    celdasDictamen.forEach(function (celdaDic) {
                        // Verificar el contenido de la celda
                        if (celdaDic.textContent.trim() === 'No Disponible') {
                            // Ocultar la columna siguiente (Descargar Vale)
                            celdaDic.nextElementSibling.textContent = ' ';
                        }
                    });
                });
            </script>
        </head>
        <body class="bodyHistorial">
            <!-- Contenedor principal para el historial de solicitudes -->
                <div class="historialSolicitudes">
                    <!-- Título de la sección -->
                    <h2 id="tituloHistorialSoli">Historial de Solicitudes</h2>
                        <!-- Contenedor para la tabla del historial -->
                        <div class="table-responsive">
                            <table  class="table table-hover table-striped" id="TablaHistorialSolicitudes">
                                <thead>
                                    <th>Folio</th>
                                    <th>Equipo</th>
                                    <th>Fecha</th>
                                    <th>Estado</th>
                                    <th>Vale</th>
                                    <th>Dictamen</th>
                                </thead>
                            <% historial.forEach(solicitud => { %>
                                <!-- Fila de la tabla para cada solicitud en el historial -->
                                <tr>
                                    <td><%= solicitud.FolioSolicitud %></td>
                                    <td><%= solicitud.Equipo %></td>
                                    <td><%= solicitud.Fecha %></td>
                                    <td class="estado-celda" data-estado="<%= solicitud.Estado %>"><%= solicitud.Estado%></td>
                                    <td><a href="/descargarPDFvale?folioSolicitud=<%= solicitud.FolioSolicitud %>"><img src="resources/images/downloads.png" alt="Descargar Vale"></a> &nbsp &nbsp &nbsp <%= solicitud.Vale %></td>
                                    <td><a href="/descargarPDFdictamen?folioSolicitud=<%= solicitud.FolioSolicitud %>"><img src="resources/images/downloads.png" alt="Descargar Dictamen"></a> &nbsp &nbsp &nbsp <%= solicitud.Dictamen %></td>

                                </tr>
                            <% }); %>
                            </table>
                        </div>
                 </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        </body>
    </div>  

</main>

<footer class="pie-pagina">
    <p>&copy; 2024 CIC Assistance. Todos los derechos reservados.</p>
</footer>

<script src="resources/scripts/semaforo.js"></script>
<script src="resources/scripts/panelUsario.js"></script>

<!-- SCRIPTS PARA GENERAR LOS FILTROS FUNCIONALES ------------------------------------------------------------------------->

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.bootstrap5.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>

new DataTable('#TablaHistorialSolicitudes', {
    language: {
        info: 'Mostrando _PAGE_ de _PAGES_ paginas',
        infoEmpty: 'No records available',
        lengthMenu: '_MENU_ Entradas por pagina',
        zeroRecords: 'No se encontro - Lo siento',
        search: "Buscar:"
    }
    });

</script>

<script src="resources/scripts/panelUsuario.js"></script>

<!--Script para mostrar el div logout-->
<script>
    const contenedorMostrarSesion = document.querySelector('.contenedorMostrarSesion');
    const logoutMenu = document.querySelector('#logoutMenu');

    contenedorMostrarSesion.addEventListener('click', function(event) {
        logoutMenu.style.display = (logoutMenu.style.display === 'block') ? 'none' : 'block';
        event.stopPropagation();
    });

    document.addEventListener('click', function(event) {
        if (!logoutMenu.contains(event.target) && event.target !== logoutMenu) {
            logoutMenu.style.display = 'none';
        }
    });

</script>

</body>
</html>

